<!doctype html>
<html>
  <head>
    <style>
      p, li {
        font: 14px/16px "Helvetica Neue", Helvetica, sans-serif;
      }

      .unsubscribe {
        font-size: 10px;
        line-height: 12px;
      }
    </style>
  </head>
  <body>
    <p>Hey {{ username }}</p>

    <p>
      We have recieved a login request for your Webmaker account.
      If you did not make this request, you can disregard this email.
    </p>

    <p>
      Your single use login key is: <br /><br />
      <strong>{{token}}</strong>
      <br /><br />
      It will expire in 15 minutes.
    </p>

  </body>
</html>
